*{
  text-align: center;
}

#App{
  display: flex;
  justify-content: center;
}

#border_div{
  display: flex;
  padding: 3vw;
  margin: 3vw;
  border: 3px solid black;
  justify-content: center;
}


#game_box{
  display: flex;
  justify-content: center;
  border: 3px solid black;
  height: 80vh;
  width: 50vw;
  margin: none;
  background-image: url("Components/underwater.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#player_one{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: white;
  position: absolute;
}